@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=News+Cycle:wght@400;700&display=swap');
.News h1{
    font-family: 'Newsreader', serif;
    font-size: 50px;
    word-spacing: 2vh;
    font-style: italic;
}
.News{
    width: 70%;
}
.NewsCard h1{
    font-family: 'Newsreader', serif;
    font-size: 30px;
    font-style: italic;
    color:black;
}
.NewsCard p{
    font-family: 'Newsreader', serif;
    font-size: 20px;
    color: rgb(156, 157, 157);
}
.small {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.small button{
    background-color: transparent;
    border: none;
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
}
.small h2{
    font-family: 'Newsreader', serif;
    font-size: 20px;
}
.News img{
    width: 100%;
    margin: 3vh 0;
}
.NewsCard hr{
    border: 1.5px solid black;
}
.Hr{
    border: 3px solid rgba(121, 118, 118, 0.588);
    border-radius: 20px;
}